@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-black: #000;
    --color-yellow-1: #FDCB46;
    --color-pink-1: #FA6255;
    --color-brown-1: #352E28;
    --color-brown-2: #54504D;
    --color-blue-1: #91BEF8;
    --color-blue-2: #393F95;
}

.karla-font {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }